{% extends 'layout/base.html.twig' %}
{% block head %}
    <link href="{{ theme.getStylesheets('single.css') }}?{{ fn('rand', 0, 99999) }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block content %}
    <div class="single-page">
        <div class="single__header">
            <div class="header__bg">
                <div class="header__bg-wrap" data-animation-loaded="zoom-out">
                    <div class="header__bg" style="background-image: url({{ currentPost.getThumbnailUrl() }});"></div>
                </div>
            </div>
            <div class="container">
                <div class="header__content">
                    <a class="button is-tag" href="{{ currentPost.getMainCategory().getLink() }}">{{ currentPost.getMainCategory().getTitle() }}</a>
                    <h1>{{ currentPost.getTitle() }}</h1>
                    <div class="content__meta">
                        <span class="meta-author">Par <a href="{{ fn('get_the_author_link', currentPost.post.post_author) }}">{{ fn('get_the_author_meta', 'display_name', currentPost.post.post_author) }}</a></span>
                        <span class="meta-date">{{ currentPost.getDate('j M Y')|lower }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="single__content">
            <div class="container page-content {{ currentPost.displayContentClass() }}">
                    <div class="content">
                        {{ fn('the_content')|raw }}
                    </div>
                    {% if currentPost.hasSidebar() %}
                    <aside class="sidebar">
                        <div class="sidebar__content">
                            <div class="sidebar__module last-post">
                                {# TODO h2 ? h3 ? #}
                                <p class="module__title">Les derniers articles</p>
                            </div>
                        </div>
                    </aside>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script type="application/javascript" defer="defer" src="{{ theme.getJavascript('single.js') }}"></script>
{% endblock %}
