{% extends 'layout/base.html.twig' %}
{% block head %}
    <link href="{{ theme.getStylesheets('blog.css') }}?{{ fn('rand', 0, 99999) }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block content %}
    <div class="blog-page">
        <div class="blog-header">
            <div class="container">
                <h1>Les derniers articles</h1>
            </div>
        </div>
        <div class="container page-content">
            <div class="post-list-container">
                <div class="list">
                    {% for aPost in allPosts %}
                        {% include 'partials/post/blog-card.html.twig' with {'hasAnimation': true} %}
                    {% endfor %}
                    {{ pagination|raw }}
                    <div class="infinite-scroll-next">
                        {{ fn('get_next_posts_link')|raw }}
                    </div>
                </div>
                <div class="infinite-page-status">
                    <p class="infinite-scroll-request">Loading...</p>
                    <p class="infinite-scroll-last">Tous les articles ont été chargés.</p>
                    <p class="infinite-scroll-error">Une erreur est survenue.</p>
                </div>
            </div>
            <aside class="sidebar">
                <div class="sidebar__content">
                    {% if (isLive()) %}
                        <div class="sidebar__module twitch-live">
                            <p class="module__title">Live en cours</p>
                            <div class="module__content">
                                <a rel="noopener nofollow" target="_blank" class="button is-twitch" href="https://twitch.tv/amorfx">Voir le live twitch</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="sidebar__module last-post">
                        {# TODO h2 ? h3 ? #}
                        <p class="module__title">Les derniers articles</p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script type="application/javascript" defer="defer" src="{{ theme.getJavascript('blog.js') }}"></script>
{% endblock %}
