{% extends 'layout/page.html.twig' %}
{% block head %}
    <link href="{{ fn('Theme2020\\Utils\\ThemeUtils::getStylesheets', 'home.css') }}?{{ fn('rand', 0, 99999) }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block content %}
    <div class="container page-content">
        <div class="columns">
            <div class="column is-10">
                <div class="presentation-container pt-6">
                    <div class="presentation--main-text mb-5">
                        <h1>{{ presentation.mainText }}</h1>
                    </div>
                    <div class="presentation--subtext">
                        {{ presentation.subtext }}
                        <a href="{{ presentation['callToAction']['presentation-call-to-action_url'] }}">{{ presentation['callToAction']['presentation-call-to-action_text'] }}</a>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                Test test
            </div>
        </div>
    </div>
{% endblock %}
