{% extends 'layout/base.html.twig' %}
{% block head %}
    <link href="{{ fn('Theme2020\\Utils\\ThemeUtils::getStylesheets', 'home.css') }}?{{ fn('rand', 0, 99999) }}" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block content %}
    <div class="container page-content">
        <div class="columns">
            <div class="column is-10">
                <div class="presentation-container">
                    <div class="presentation--main-text mb-5">
                        <h1>{{ presentation.mainText }}</h1>
                    </div>
                    <div class="presentation--subtext">
                        {{ presentation.subtext }}
                        <span class="subtext--wrap">
                            <a href="{{ presentation['callToAction']['presentation-call-to-action_url'] }}">
                                {{ presentation['callToAction']['presentation-call-to-action_text'] }}
                                <span class="arrow"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column is-2 is-hidden-touch">
                <div class="triangle-container">
                    <div class="triangle-background"></div>
                </div>
            </div>
        </div>
        <div class="home-services">
            <h2>Mes différents services</h2>
            <div class="columns">
                {% for aService in services %}
                    <div class="column">
                        <div class="service">
                            <span class="icon-{{ aService['home-services--icon'] }}"></span>
                            <h3>{{ aService['home-services--title'] }}</h3>
                            <div class="service--text">
                                {{ aService['home-services--content'] }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="my-projects">
            <div class="my-projects--title-section">
                <h2>Mes projets</h2>
                <p>Création de site WordPress et Symfony</p>
            </div>
            <div class="projects-container">
                <div class="projects--filters">
                    <ul>
                        <li>
                            <span data-filter="*">Tous</span>
                        </li>
                        {% for aFilter in project_tags %}
                            <li>
                                <span data-filter="{{ aFilter.getTitle()|lower }}">{{ aFilter.getTitle() }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
